default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: evelynlettering_development
  username: <%= ENV['DB_USERNAME'] || "letteringdigital" %>
  password: <%= ENV['DB_PASSWORD'] || "Dhiogo1123581321345589" %>
  host: <%= ENV['DB_HOST'] || "localhost" %>

test:
  <<: *default
  database: evelynlettering_test
  username: <%= ENV['DB_USERNAME'] || "letteringdigital" %>
  password: <%= ENV['DB_PASSWORD'] || "Dhiogo1123581321345589" %>
  host: <%= ENV['DB_HOST'] || "localhost" %>

production:
  <<: *default
  database: <%= ENV['DB_NAME'] || "evelynlettering_production" %>
  username: <%= ENV['DB_USERNAME'] || "letteringdigital" %>
  password: <%= ENV['DB_PASSWORD'] || "Dhiogo1123581321345589" %>
  host: <%= ENV['DB_HOST'] || "db" %>
